<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Terminal</title>
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.9.7/angular-material.min.css'>
        <link rel="stylesheet" href="style.css">
    </head>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.2/angular-material.min.js'></script>
    <script src="https://blueappio.github.io/blueapp.io/blueapp.io.min.js"></script>
    <script src="terminal.js"></script>
    <script src="app.js"></script>

    <body ng-app="terminal" class="thing">
        <div ng-controller="mainController" md-theme-watch="true">
              <div layout="row">
                <div class="terminal-textfield terminal-textfiled-border"  flex="100">
                    <textarea readonly>{{terminal.terminaldata}}</textarea>
                </div>
            </div>
            <div layout="row" layout-align="start start">
                <div flex="85" flex-gt-md="90" flex-gt-lg="90" flex-xs="50" flex-sm="65">
                    <div class="terminal-textfield">
                        <input type="text" placeholder="Enter Data to send" class="terminal-textfield" ng-model="inputData">
                    </div>
                </div>
                <div>
                    <md-button class="md-raised send-btn" ng-click="sendClick()"  ng-disabled="disable">Send</md-button>
                </div>
            </div>
        </div>
    </body>
</html>