* {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.thing {
    padding: 0px;
    font-size: large;
    font-weight: 500;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}

md-toast {
    top: 10px;
    right: 0px;
}

.terminal-textfield {
    display: block;
    padding-top: 15px;
    margin-bottom: 10px;
    position: relative;
}

.terminal-textfield > textarea {
    min-height: 390px;
    width: 100%;
}

.terminal-textfield > input, .terminal-textfield > textarea {
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms;
    -webkit-animation-name: mui-node-inserted;
    animation-name: mui-node-inserted;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, .87);
    border: none;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    background-image: none;
}

.terminal-textfiled-border {
    border: 1px solid #ccc;
    padding: 6px;
}

.terminal-textfield > input {
    height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
}

.send-btn {
    background-color: #28ade5 !important;
    color: #ffffff !important;
}

.list-panel {
    padding: 5px 15px 5px 15px;
    border-radius: 0;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    color: #797979;
}

/* ---------------------- */
.heading {
    background-color: #14181C;
    height: 40px;
}

.heading-text {
    font-size: 22px;
    color: #fff;
    padding-top: 4px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.logo {
    width: 100px;
    height: 27px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-bottom: 0px;
}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .logo {
        background-image: url(images/logo@2x.png);
        background-size: 100px 27px;
    }
}
